Source: lcr
Section: comm
Priority: extra
Maintainer: Eric Butler <eric@codebutler.com>
Uploaders: Joerg Dorchain <joerg@dorchain.net>, Victor Seva <linuxmaniac@torreviejawireless.org>
Build-Depends:  debhelper (>= 7.0.50~), dh-autoreconf, pkg-config, misdnuser-dev, asterisk-dev, libncurses-dev, libgsm1-dev, libssl-dev
Standards-Version: 3.8.3
Homepage: http://www.linux-call-router.de/
Vcs-Svn: git@github.com:osmobuntu/lcr.git
Vcs-Browser: https://github.com/osmobuntu/lcr

Package: lcr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Description: LinuxCallRouter - an ISDN based PBX for Linux
 Formerly known as "PBX4Linux", Linux-Call-Router is not only a router,
 it is a real ISDN PBX which interconnects ISDN telephones and ISDN lines.
 It is possible to connect telephones to a Linux box. It is a pure software
 solution except for the ISDN cards and telephones. The great benefit is
 the NT-mode that allows to connect telephones to an ISDN card. Special
 cards are needed and a little bit of different cabeling. It supports lots
 of features, that only expensive PBXs have. It include a channel driver
 that can link LCR to Asterisk PBX.

Package: lcr-asterisk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, asterisk, lcr
Description: LinuxCallRouter - an ISDN based PBX for Linux
 Formerly known as "PBX4Linux", Linux-Call-Router is not only a router,
 it is a real ISDN PBX which interconnects ISDN telephones and ISDN lines.
 It is possible to connect telephones to a Linux box. It is a pure software
 solution except for the ISDN cards and telephones. The great benefit is
 the NT-mode that allows to connect telephones to an ISDN card. Special
 cards are needed and a little bit of different cabeling. It supports lots
 of features, that only expensive PBXs have. It include a channel driver
 that can link LCR to Asterisk PBX.
 .
 This package contains the Asterisk module.
